*{
   margin: 0;
padding: 0;
font-family:jakarta sans, sans-serif ;
}

header{
width: 80%;
height: 10vh;
margin-left: 10%;
display: flex;
align-items: center;
}

logo-holder{
width: 15%;
height: 80%;
margin-right: 25%;
display: flex;
align-items: center;
}

nav{
width: 30%;
height: 40%;
display: flex;
align-items: center;
gap: 40px;
list-style: none;

li{
     display: flex;
align-items: center;
gap: 10px;
}

div{
width: 23%;
height: 60%;
display: flex;
align-items: center;
flex-direction: row;
}

.pro{
width: 50px;
height: 100%;
background-color: blue;
color: white;
font-weight: bold;
display: flex;
align-items: center;
justify-content: center;
}

}

button{
background-color: black;
color: white;
border-radius: 25px;
width: 23%;
margin-left: 10px;
height: 60%;
cursor: pointer;
font-weight: bold;
}
/* div {
     width: 30vw;
     height: 40vh;
     background-color: aqua;
     border-radius