.wednesday{
width: 30%;
background-color: aliceblue;
border: 2px solid black;
border-radius: 5px;
text-align: center;
justify-self: center;
width: 30%;
}
.wednesday img{
width: 100%;
height: 300px;
filter: blur(1px);
border-radius: 5px;
}
.wednesday img:hover{
    box-shadow: 0 0 0 3px;
}







